/** {
  box-sizing: border-box;
}*/

body {
  font-family: 'Tinos', serif;
  background-image: url(../img/bg.png);
}

.page {
  background: url(../img/rag.png) repeat-x;
  padding: 2em 0;
}

h1 {
  background: url("../img/logo-bg.png") no-repeat 50% 0;
}

h1 a {
	padding-top: 117px;
	height: 162px;
	display: block;
	text-align: center;
}

.caption {

}

.mast {
	float: left;
	width: 31.875%;
}

li a {
  text-decoration: none;
}

.footer {
  background: url("../img/ornament.png") 50% 0 repeat-x;
  padding: 40px 0px 20px;
  clear: both;
	float: none;
	margin-left: 56.770833333333333333%;			/* 327px / 960px */
	width: 20.520833333333333333%;
  text-align: center;
}
.footer::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*.cf::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
}*/

.main {
  width: 65%;
  float: right;
}

.main h2 {
  text-align: center;
  margin-top: 40px;
}

.divider  {
  background: url("../img/ornament.png") no-repeat 0 50%;
  font-size: 1.4em;
  text-transform: lowercase;
  text-align: center;
  margin: 0.75em 0 1em;
}

.divider strong {
	background: url("../img/bg.png");
	font-weight: normal;
	padding: 0 1em;
}

.italic {
  font-style: italic;
}

ol {
  list-style: none;
}

ul.navbar::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@media (min-width: 1300px) {
  .mast {
    float: none;
    width: auto;
  }

  .image-grid {
    display: block;
    width: 70%;
    float: right;
  }

  h1 {
    float: left;
    width: 25%;
    display: block;
    margin-right: 40px;
  }

  ul.navbar {
    display: inline-block;
    float: right;
    width: 60%;
    /*width: 65%;*/

    /*-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;*/
  }
  /*.navbar ul::after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
  }*/

  ul.navbar::after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
  }

  .navbar li{
    float: left;
    list-style-type: none;
    margin-right: 20px;
    padding-bottom: 10px;
    border-bottom: thin solid black;
    text-align: center;
    width: 30%;
  }

  .figure {
    float: left;
    width: 15%;
    text-align: center;
  }

  .caption {
    font-size: 16px;
    margin-top: 10px;
  }
  .caption strong {
    font-size: 20px;
    font-weight: bold;
  }

  .figure img {
    width: 75%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
}
